.basket-container {
    display:flex;
    justify-content:center;
    align-items:center;
    width:100%;
    .basket {
        height: 150px;
        width:auto;
    }
    .apple-container {
        display:flex;
        flex-direction: row-reverse;
        justify-content:center;
        align-items:center;
        position: absolute;
        width:400px;
        height:100px;
        margin-top: 1rem;
    }
}
